{% extends 'base.html' %}

{% block contenido %}
	<section id="hero">
		<img src="{{ posts.imagen.url }}" />
		<section>
			<p>{{ posts.fecha }}</p>
			<h2>{{ posts.titulo }}</h2>
			<p>{{ posts.descripcion }}</p>
			<p>{{ posts.cuerpo }}</p>
			<p>{{ posts.categoria }}</p>

			<form method="POST" action="{% url 'comentarios:path_comentar' posts.pk %}">{% csrf_token %}
				<textarea name="texto_comentado">
						
				</textarea>
				<button type="submit">COMENTAR</button>
			</form>
		</section>
	</section>
{% endblock contenido %}