{% extends 'base.html' %}

{% block contenido %}
	<section id="hero">
		<img src="{{ posts.imagen.url }}" />
		<section>
			<h2>{{ posts.titulo }}</h2>
			<p>{{ posts.descripcion }}</p>
		</section>
	</section>

	<main>
	{% if user.is_staff %}
		<section class="panel_usuario">
			<p>{{user.username}}, tus herramientas: 
				<a href="{% url 'posts:path_actualizar_post' posts.pk %}" class="goma">Actualizar Publicación</a>,
				<a href="{% url 'posts:path_eliminar_post' posts.pk %}" class="borrar"> Eliminar Publicación</a><br />
				<a href="{% url 'posts:path_crear_post' %}"> Crear Publicación</a>,
				<a href=" {% url 'tarjetas:path_crear_tarjeta' %}">Crear tarjeta</a>
			</p>
		</section>
	{% endif %}
		<section id="publicaciones">
			<article>
				<section class="post_info">
					<!--<p class="autor">Por Lucho T</p>-->
					<p class="fecha">{{posts.fecha}}</p>
					<ul>
					{% for c in posts.categoria_sobre.all %}
						<li class="etiquetas"><a href="{% url 'categorias:path_filtrado_categoria_todo' c.pk %}">{{c.sobre}}</a></li>
					{% endfor %}
					</ul>
				</section>
				<p>{{ posts.cuerpo }}</p>
			
				<section class="comentarios">
					<form method="POST" action="{% url 'comentarios:path_comentar' posts.pk %}" class="comentarios">
						<h3>Dejá un comentario</h3>
						{% csrf_token %}
						<textarea name="texto_comentado">Tu comentario...</textarea>
						<button type="submit" class="comentar">Enviar</button>
					</form>

					<h3>Comentarios</h3>
				{% for com in posts.muestraComentarios %}
					<section class="comentarios_info">
						<p>#{{com.id}} - Escrito por <em>{{com.usuario}}</em>,
							{{com.fecha_creado}} -
						{% if user.is_staff %}
							<a href="{% url 'comentarios:path_eliminar_comentario' com.pk %}">Eliminar</a>
						{% else %}
							{% if user == com.usuario %}
								<a href="{% url 'comentarios:path_eliminar_comentario' com.pk %}">Eliminar</a>
								<a href="{% url 'comentarios:path_actualizar_comentario' com.pk %}">Editar</a>
							{% endif %}
						{% endif %}
						</p>
					</section>
					<p>{{com.texto}}</p>
				{% empty %}
					<p>No hay comentarios</p>
				{% endfor %}
				</section>
			</article>
		</section>
	</main>
{% endblock contenido %}