{% extends 'base.html' %}

{% block contenido %}
	<main>		
		<h2>Eliminar publicación</h2>
		<section id="publicaciones">
			<p>¿Está seguro q desea eliminar la publicación?</p>
			<form method="post" enctype="multipart/form-data">{% csrf_token %}
				<ul class="grid">
				{{ form.as_ul }}
				<!--<input type="submit" value="Ingresar">-->
				<li class="centrado"><button>Eliminar</button></li>
				<li class="centrado"><a href="{% url 'posts:path_listar_posts' %}">Cancelar</a></li>
				</ul>
			</form>
		</section>
	</main>
{% endblock contenido %}