{% extends 'base.html' %}

{% block contenido %}
	<aside>
		<h3>Categorias</h3>
		<ul>
			<li>
				<a href="{% url 'posts:path_listar_posts'%}">Todos</a>
			</li>
			{% for c in categorias %}
				<li>
					<a href="{% url 'posts:path_filtrados_categoria_post' c.pk %}"> {{ c.sobre }} </a>
				</li>
			{% endfor %}
		</ul>
	</aside>	

	<main>		
		<h2>Últimas publicaciones</h2>
		{% if user.is_staff %}
			<a href="{% url 'posts:path_crear_post' %}"> Crear Publicación</a>
		{% endif %}
		<section id="publicaciones">
			{% for p in posts %}
				<article>
					<h3>{{p.titulo}}</h3>
					<section class="post_info">
						<!--<p class="autor">Por Lucho T</p>-->
						<p class="fecha">{{p.fecha}}</p>
						<p class="etiquetas">{{p.categoria_sobre}}</p>
					</section>
					<img src="{{ p.imagen.url }}">
					<p>{{p.cuerpo}}</p>
					<a href="{% url 'posts:path_detalle_post' p.pk %}">Ver Mas</a>
					
					{% if user.is_staff %}
						<a href="{% url 'posts:path_actualizar_post' p.pk %}">Actualizar Publicación</a>
						<a href="{% url 'posts:path_eliminar_post' p.pk %}"> Eliminar Publicación</a>
					{% endif %}
				</article>
			{% endfor %}
		</section>
	</main>
{% endblock contenido %} 