{% extends 'base.html' %}

{% block contenido %}
	<main>
		<h2>Publicaciones</h2>
	{% if user.is_staff %}
		<section class="panel_usuario">
			<p>{{user.username}}, tus herramientas: 
				<a href="{% url 'posts:path_crear_post' %}"> Crear Publicación</a>
				<a href=" {% url 'tarjetas:path_crear_tarjeta' %}">Crear tarjeta</a>
			</p>
		</section>
	{% endif %}
		<section id="publicaciones">
		{% for p in posts %}
			<article>
				<h3><a href="{% url 'posts:path_detalle_post' p.pk %}">{{p.titulo}}</a></h3>
				<section class="post_info">
					<!--<p class="autor">Por Lucho T</p>-->
					<p class="fecha">{{p.fecha}}</p>
					<ul>
					{% for c in p.categoria_sobre.all %}
						<li class="etiquetas"><a href="{% url 'categorias:path_filtrado_categoria_todo' c.pk %}">{{c.sobre}}</a></li>
					{% endfor %}
					</ul>
				</section>
			{% if user.is_staff %}
				<p>
					<a href="{% url 'posts:path_actualizar_post' p.pk %}" class="goma">Actualizar Publicación</a>
					<a href="{% url 'posts:path_eliminar_post' p.pk %}" class="borrar"> Eliminar Publicación</a>
				</p>
			{% endif %}
				<img src="{{p.imagen.url}}" />
				<p>{{ p.descripcion }}</p>
				<p><a href="{% url 'posts:path_detalle_post' p.pk %}"  class="flecha_d">Ver Mas</a></p>
			</article>
		{% endfor %}
		</section>
	</main>
{% endblock contenido %}