{% extends 'base.html' %} <!--nota del codigo: SE EXTIENDE EL BLOQUE PARA SEGUIR-->

{% block contenido %}

	<h1>hola aqui estan los posts </h1>

	<a href="{% url 'posts:path_crear_post' %}"> Crear Publicion</a>
	
	{% for p in posts %}
		
		<div>
			<img src="{{ p.imagen.url }}">
			<h3>{{p.titulo}}</h3>
			<p>{{p.cuerpo}}</p>
			<a href="{% url 'posts:path_actualizar_post' p.pk %}"> Actualizar Publicion</a>
			<a href="{% url 'posts:path_eliminar_post' p.pk %}"> Eliminar Publicacion</a>		
		</div>
	
	{% endfor %}


{% endblock contenido %}