{% extends 'base.html' %}

{% block contenido %}
	<main>
		<h2>Categorías del blog</h2>
		<section id="publicaciones">
		{% if user.is_staff %}
			<section class="post_info">
				<a href=" {% url 'categorias:path_crear_categoria' %}">Crear categoria</a>
			</section>
		{% endif %}
		{% for c in categorias %}
			<article>
				<h3><a href="{% url 'categorias:path_filtrado_categoria_todo' c.pk %}">{{c.sobre}}</a></h3>
				<p>{{c.descripcion}}</p>
				<a href="{% url 'categorias:path_detalle_categoria' c.pk %}">Ver detalle</a>
				{% if user.is_staff %}
					<a href="{% url 'categorias:path_actualizar_categoria' c.pk %}">Actualizar</a>
					<a href="{% url 'categorias:path_eliminar_categoria' c.pk %}">Eliminar</a>
				{% endif %}
			</article>
		{% endfor %}
		</section>
	</main>
{% endblock contenido %}