{% extends 'base.html' %}

{% block contenido %}
	<main>
		<h2>Categorias del blog</h2>
		<a href=" {% url 'categorias:path_crear_categoria' %}">Crear categoria</a>
		<section id="publicaciones">
	{% for c in categorias %}
			<article>
				<h3><a href="{% url 'categorias:path_filtrado_categoria_todo' c.pk %}">{{c.sobre}}</a></h3>
				<p>{{c.descripcion}}</p>
				<a href="{% url 'categorias:path_detalle_categoria' c.pk %}">Ver detalle</a>
				<a href="{% url 'categorias:path_eliminar_categoria' c.pk %}">Eliminar</a>
			</article>
	{% endfor %}
		</section>
	</main>
{% endblock contenido %}