/*
https://htmlcolorcodes.com/es/
*/

:root {
	font-size: 10px
}

html * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-break: normal;
	font-family: arial, serif;
	color:#333;
}
h1,h2,h3,h1 *, h2 *, h3 * {
	line-height: 1;
	letter-spacing:-0.3rem;
	font-family: "times new roman", times, serif;
}
h1 {
	font-size: 6.6rem;
}
h2 {
	font-size: 6rem;
	margin-bottom: 4.5rem;
	font-weight:bolder;
	color: rgb(255 255 245);
	line-height: 0.9;
}
h3 {
	font-size: 3.75rem;
}
p, ul, ol {
	font-size: 1.5rem;
	line-height:1.5;
	letter-spacing:normal;
}
ul li, ol li {
	margin:0;
	padding:0;
}
body {
	background-image: url("../img/quebrachal.jpg");
	background-color: #333;
	width: 100%;
	height: 500px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat
}


/*
			HEADER
						*/
header {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items:center;
	gap: 6px 12px;
	min-width: 300px;
	background-color: rgba(42, 166, 62, 84%);
	padding:1.5em 10em;
	margin-bottom:-1em;
}
header h1 {
	text-shadow: -1px -1px 0 rgb(255 255 245),
		-2px -2px 0 #ccc,
		-3px -3px 0 #ccc,
		-4px -4px 0 #666,
		-5px -5px 0 #2AA63E,
		-6px -6px 0 #2AA63E,
		-7px -7px 1px rgba(60 60 60 / 60%),
		-8px -8px 1px rgba(60 60 60 / 60%),
		-9px -9px 1px rgba(60 60 60 / 60%),
		1px 1px 1px rgba(60 60 60 / 60%);
	color: rgb(255 255 245)
}
header h1 em {
	color: rgb(255 255 245)
}

/*
				navbar
										*/
header nav {
	margin:auto;
}
header ul li {
	font-size: 1.8rem;
	line-height:2.5em;
	display:inline;
	color: rgb(255 255 245);
	text-shadow: 1px 1px 1px rgb(51 51 51 / 75%);
}
header ul.autenticado li,
header ul.autenticado li a,
header ul.autenticado li a:link,
header ul.autenticado li a:hover,
header ul.autenticado li a:visited {
	font-size:1em;
	font-weight:bold;
}
header ul.autenticado li a,
header ul.autenticado li a:link,
header ul.autenticado li a:hover,
header ul.autenticado li a:visited {
	padding:1em;
	padding-left:2.2em;
	background-image:url("../img/circle-user-round.png");
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 0.3em;
}

header p {
	color:rgb(255 255 245);
	margin: auto;
	font-size: 1.2rem;
	line-height: 2.4rem
}
header a,
header a:link,
header a:hover,
header a:active,
header a:visited {
	color: rgb(255 255 245);
	text-shadow: 1px 1px 1px rgb(51 51 51 / 75%);
	padding:0.5em 1em;
}
header a:hover {
	text-shadow: 1px 1px 0 rgb(51 51 51 / 75%);
	background-color:rgb(51 51 51 / 30%);
	border-radius: 3px
}


/*
			HERO
						*/
section#hero {
	display:grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(27, minmax(auto, 1fr));
	gap:1rem;
	
	max-width: 1180px;
	/*min-height:10vh;*/
	margin:auto;
	margin-bottom:-1em;
	padding: 6em 0;
	
	/*padding: 6em 3em;
	padding-right: 15em;
	padding-left: 7.5em;*/
	background-color: rgba(51, 51, 51, 45%);
	border-radius:1em;
}
section#hero section {
	grid-row: 1;
	grid-column: 12 / 23;
	width:auto
}
section#hero h2 {
	font-size: 4.5rem;
	color:rgb(255 255 245);
	text-shadow: -1px 3px 1px #333;
	margin: 3rem;
	margin-top: 0;
	text-wrap: balanced;
}
section#hero p {
	color: rgb(255, 255, 240);
	text-shadow: -1px 1px 1px #000;
	font-size: 1.5em;
	margin: 0 3em;
	padding: 1em;
	background-color: rgba(51, 51, 51, 30%);
	/*background-color: rgba(42, 166, 62, 75%);*/
	/*background-image: linear-gradient(to top, rgb(51 51 51 / 90%), rgb(51 51 51 / 0));*/
}
section#hero img {
	grid-row: 1;
	grid-column: 3 / 12;

	border-radius: 1em 3em 1em 3em;
	border-top: 1px solid rgba(255, 255, 245, 45%);
	border-left: 1px solid rgba(42, 166, 62, 60%); /* VERDEEEEE*/
	border-bottom: 1px solid rgba(42, 166, 62, 60%);
	border-right: 1px solid rgba(255, 255, 245, 45%);
	padding:1em;
	max-width:auto;
	object-fit: cover;
}
section#hero img.big {
	min-height:500px;
	border-radius: 1em 12em 1em 12em;
}

/* 
			MAIN
							*/
main {
	/*grid-auto-flow: column;*/
	/*grid-template-columns: repeat(6, minmax(auto,1fr));*/
	max-width: 1236px;
	height:;
	background-color: rgba(240, 240, 240, 75%);
	margin:auto;
	margin-bottom:-6em;
	padding: 2em 10em 2em 30em;
	border-radius: 1rem
}
main h2 {
	/*width:100%;*/
	margin: 0;
	padding:1.5rem;
	border-bottom: 3px solid rgba(51, 51, 51, 45%);
	border-left: 1px solid rgba(51, 51, 51, 45%);
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-radius: 6px 3rem 6px 3rem;
	
	font-weight:bolder;
	font-size:4.5rem;
	text-align: center;
	/*color:rgb(240 240 240);*/
	color: #333;
	/*background-color:rgb(42 166 62);*/
	background-color: rgb(255 255 255 / 75%);
	text-shadow: -1px 1px 0 rgb(42 166 62 / 75%),
		-2px 2px 0 rgb(42 166 62 / 75%);
	/*text-shadow: -1px 1px 1px rgb(51 51 51 / 90%),
		1px -1px 0 rgba(42, 166, 62, 84%);*/
}
main section {
	width:100%;
	margin:2em auto;
}

/* navegacion (ASIDE) ****************************/
aside {
	padding:1em;
	padding-left:3em;
	background-color: rgb(255 255 255 / 87%);
	border-bottom:1px solid #333;
	border-radius: 6px 2rem 6px 2rem;
	margin: 2em auto;
	margin-top:auto;
	/*margin-top:-6em;
	margin-left: -20em;*/
	width: 100%;
	max-width:1200px;
	columns: 6;
	border-bottom:3px solid #999;
}
aside h3 {
	font-size:3em;
	font-weight:900;
}
aside h3,
aside ul li {
	text-shadow: 1px -2px 0 white/*, 2px -2px 0 white*/;	
}
aside ul {
	font-size: 1.2em;
}
aside ul li {
	background-image:url("../img/paw-print.png");
	background-repeat: no-repeat;
	padding-left: 1.8em;
}
aside ul li a:hover {
	font-style: underline
}

/*********************************

 			publicaciones

  ********************************/
main section#publicaciones {
	background-color:rgb(245, 245, 245, 60%);
	padding: 1em;
	display:flex;
	flex-wrap: wrap;
	align-items:stretch;
	align-content:flex-start;
	justify-content: space-evenly;
	border-radius: 6px 2.4rem 6px 2.4rem;
	min-height:50vh;
	gap: 1em
}
main section#publicaciones article {
	min-width:240px;
	width:30%;
	flex-grow:1;
	background-color:#eee;
	padding: 1.5em;
	border-radius: 6px 2.4rem 6px 2.4rem;
	border-bottom: 3px solid rgb(30 30 30 / 30%);
	border-left: 1px solid rgb(30 30 30 / 15%);
	border-top: 1px solid rgb(255 255 255 / 75%);
	border-right: 3px solid rgb(255 255 255 / 30%);
}
main section#publicaciones article h3 {
	text-shadow: 1px -2px 0 white/*, 2px -2px 0 white*/;	
}
main section#publicaciones article p {
	margin-bottom:1em
}
main section#publicaciones section.post_info {
	padding:0.5em;
	background-color:white;
	border-bottom:1px solid #ccc;
	border-radius: 3px;
	columns:3;
}
main section#publicaciones article .autor,
main section#publicaciones article .fecha,
main section#publicaciones article .etiquetas,
main section#publicaciones article .flecha_d,
main section#publicaciones article .goma,
main section#publicaciones article .borrar {
	font-size: 1.2rem;
	margin:auto;
	padding-left:1.8em;
	padding-bottom:0.1em;
	background-repeat: no-repeat;
}
main section#publicaciones article .autor {
	background-image:url("../img/pencil-line-16.png");
}
main section#publicaciones article .fecha {
	background-image:url("../img/calendar-days.png");
}
main section#publicaciones article .etiquetas {
	background-image:url("../img/paw-print.png");
}
main section#publicaciones article .flecha_d {
	background-image:url("../img/arrow-right.png");
	font-weight:bolder;
}
main section#publicaciones article .goma {
	background-image:url("../img/eraser.png");
}
main section#publicaciones article .borrar {
	background-image:url("../img/trash-2.png");
}

/******** FORMULARIOS ********************/
main section#publicaciones form {
	width:100%;
	flex-grow:1;
	background-color:#eee;
	padding: 1.5em;
	border-radius: 6px 2.4rem 6px 2.4rem;
}
main section#publicaciones ul.grid {
	display:grid;
	grid-template-columns: repeat(2, 1fr);
}
main section#publicaciones form ul li {
	padding-top:0.5em;
}
main section#publicaciones form ul li label {
	font-weight: bold;
	display:block;
}
main section#publicaciones form ul li input,
main section#publicaciones form textarea {
	border: 1px solid rgb(42 166 62);
	border-radius: 6px;
	padding:0.3em;
	font-size:1.2rem;
	font-weight:bold;
}
main section#publicaciones form ul li span.helptext {
	display:block;
	width: 90%;
	margin-top:1em;
}
main section#publicaciones form ul li span.helptext,
main section#publicaciones form ul li span.helptext ul li,
main section#publicaciones form ul li ul.errorlist li {
	font-size: 0.8em;
	line-height:1.6em;
}
main section#publicaciones form ul li ul.errorlist li {
	font-weight: bold;
	font-style: oblique;
	color: red;
}
main section#publicaciones form button {
	font-weight: bold;
	border: 3px solid rgb(42 166 62);
	border-radius: 50rem;
	padding:0.5em 1em;
	border-radius: 50rem;
}
main section#publicaciones form .ancho,
main section#publicaciones form .centrado  {
	text-align:center;
	padding-top:1em;
}
main section#publicaciones form .ancho {
	grid-column: 1 / 3;
}

/* **************************************

				tarjetas

 *************************************/
main section#tarjetas {
	max-width:100%;
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	gap:1em;
	line-height:1.5em;
}
main section#tarjetas article {
	display:block;
	min-width:min-content;
	max-width:270px;
	height:max-content;
	padding:1em;
	background-color:rgba(42, 166, 62, 100%);
	border-radius: 6px 2.4rem 6px 2.4rem;
	border-bottom: 3px solid rgb(30 30 30 / 30%);
	border-left: 1px solid rgb(30 30 30 / 15%);
	border-top: 1px solid rgb(255 255 255 / 75%);
	border-right: 3px solid rgb(255 255 255 / 30%);
}
main section#tarjetas article * {
	color:rgb(240 240 240);
	text-shadow: 1px 1px 0 rgb(51 51 51 / 90%)
		/*1px 1px 0 rgba(42, 166, 62, 84%);*/
}
main section#tarjetas img {
	border: 1px solid rgb(50 50 50 / 30%);
	border-radius:3px 2rem 0 0;
}
main section#tajetas article h3 {
	width:100%;
}
main section#tarjetas p {
	background-color:rgb(51 51 51 / 30%);
	margin:0 auto;
	padding:0.6em;
}
main section#tarjetas p:last-of-type {
	border-radius: 0 0 3px 2rem;
}


/*
main article:nth-child(odd) h2 {
	text-align: right;
}
main article:nth-child(even) {
	grid-column: 3 / 5;
}*/

/*
main article p, main article ul, main article ol {
	margin-bottom: 1em;
	max-width: 100%;
}
main article ul, main article ol {
	padding-left: 3rem;
}
main article ol li, main article ul li {
	margin:0;
	padding:0
}
main article img {
	max-width:60%;
	float:left;
	margin: 0 2em 1em -30%;
	
	clip-path: polygon(0% 0%, 99% 3%, 99% 97%, 3% 96%);
}
main article:nth-child(even) img {
	float:right;
	margin:0;
	margin-left:2em;
	margin-bottom:1em;
	clip-path: polygon(0% 3%, 99% 0%, 96% 99%, 3% 99%);
}
main article:nth-child(odd) ol li, main article:nth-child(odd) ul li {
}*/

/*
			FOOTER
*/
footer {
	color: rgb(255 255 245);
	background-color: rgba(42, 166, 62, 84%);
	padding: 9rem;
	background-image: linear-gradient(to top, rgb(51 51 51 / 90%), rgb(51 51 51 / 30%));
}
footer h4 {
	font-size:3rem;
}
footer h4, footer p, footer ul, footer ol, footer li {
	color: rgb(255 255 245);
}