/*
https://htmlcolorcodes.com/es/
*/

:root {
	font-size: 10px
}

html * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-break: normal;
	font-family: arial, serif;
	color:#333;
}
h1,h2,h3,h1 *,h2 *, h3 * {
	line-height: 1;
	letter-spacing:-0.3rem;
	font-family: "times new roman", times, serif;
}
h1 {
	font-size: 6rem;
}
h2 {
	font-size: 6rem;
	margin-bottom: 4.5rem;
	font-weight:bolder;
	color: rgb(255 255 245);
	line-height: 0.9;
}
h3 {
	font-size: 3.75rem;
}
p, ul, ol {
	font-size: 1.5rem;
	line-height:1.5;
	letter-spacing:normal;
}
ul li, ol li {
	margin:0;
	padding:0;
}
body {
	background-image: url("../img/quebrachal.jpg");
	background-color: #333;
	width: 100%;
	height: 500px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat
}


/*
			HEADER
						*/
header {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items:center;
	gap: 6px 12px;
	min-width: 300px;
	background-color: rgba(42, 166, 62, 84%);
	padding:1.5em 10em;
	margin-bottom:-2em
}
header h1 {
	/*margin: auto;*/
	/*padding: 3rem;*/
	text-shadow: -1px -1px 0 rgb(255 255 245),
		-2px -2px 0 #FFDF20,
		-3px -3px 0 #FFDF20,
		-4px -4px 0 #333,
		-5px -5px 0 #2AA63E,
		-6px -6px 0 #2AA63E,
		-7px -7px 1px rgba(60 60 60 / 60%),
		-8px -8px 1px rgba(60 60 60 / 60%),
		-9px -9px 1px rgba(60 60 60 / 60%),
		1px 1px 1px rgba(60 60 60 / 60%);
	color: rgb(255 255 245)
}
header h1 em {
	color: rgb(255 255 245)
}

header nav {
	/*background-color: red;*/
	margin:auto;
}
header ul {
	color:rgb(255 255 245);
}
header ul li {
	font-size: 1.8rem;
	line-height:2.5em;
	display:inline;
}
header button {
	padding:1em 2em;
	font-size:1.2em;
	font-weight:bold;
	background-color: rgba(42, 166, 62, 84%);
	border: 1px solid rgb(51 51 51 / 75%);
	border-radius:50rem;
}

header p {
	color:rgb(255 255 245);
	margin: auto;
	font-size: 1.2rem;
	line-height: 2.4rem
}
header a,
header a:link,
header a:hover,
header a:active,
header a:visited {
	color: rgb(255 255 245);
	text-shadow: 1px 1px 1px rgb(51 51 51 / 75%);
	padding:0.5em 1em;
}
header a:hover {
	text-shadow: 1px 1px 0 rgb(51 51 51 / 75%);
	background-color:rgb(51 51 51 / 30%);
	border-radius: 3px
}


/*
			HERO
						*/
section#hero {
	display:flex;
	align-items:flex-start;
	max-width: 1180px;
	min-height:60vh;
	margin:auto;
	margin-bottom:-6em;
	padding: 6em 3em;
	background-color: rgba(51, 51, 51, 45%);
	border-radius:6px;
}
section#hero h2 {
	font-size: 6rem;
	color:rgb(255 255 245);
	text-shadow: -3px 3px 1px #333;
	margin: 3rem;
	margin-top: 0;
	text-wrap: balanced;
}
section#hero p {
	color: rgb(255, 255, 240);
	text-shadow: 1px 1px 1px rgb(51 51 51 / 75%);
	font-size: 1.5em;
	margin: 0 3em;
	padding: 1em;
	background-color: rgba(51, 51, 51, 30%);
	/*background-color: rgba(42, 166, 62, 75%);*/
	/*background-image: linear-gradient(to top, rgb(51 51 51 / 90%), rgb(51 51 51 / 0));*/
}
section#hero img {
	border-radius: 0.6em;
	border: 1px solid rgba(42, 166, 62, 84%); /* VERDEEEEEEEEEEEEEE  */
	padding:1em;
	/*align-self: center;*/
	max-width:45%;
	min-height:500px;
	object-fit: cover;
}

/* 
			MAIN
							*/
main {
	/*grid-auto-flow: column;*/
	/*grid-template-columns: repeat(6, minmax(auto,1fr));*/
	max-width: 1236px;
	background-color: rgba(240, 240, 240, 75%);
	margin:auto;
	margin-bottom:-6em;
	padding: 2em;
	padding-top:6em;
	border-radius:6px;
}
main h2 {
	width:100%;
	padding:1.5rem;
	border-radius:6px;
	margin: 0;
	background-color:rgba(42, 166, 62, 75%);
	text-shadow: -1px 1px 1px rgb(51 51 51 / 75%),
		1px -1px 0 rgba(42, 166, 62, 84%);
	
	font-weight:bolder;
	font-size:6rem;
	text-align: center;
	color:rgb(240 240 240);
}
main h3 {
}
main section {
	width:100%;
	margin:2em auto;
	display:flex;
	align-items:flex-start;
	align-content:flex-start;
	justify-content: space-evenly;
	gap: 1em
}

main section article {
	min-width:300px;
	background-color:rgb(240 240 240);
	padding: 1.5em;
	border-radius:3px;
}
main section article h3 {
	margin-bottom: 2rem;
}
main section article .post {
	font-size: 1.2em
}
main section#tarjetas article {
	min-width:150px;
	max-width:300px;
	background-color:rgba(42, 166, 62, 84%);
}
main section#tarjetas article * {
	color:rgb(240 240 240);
	text-shadow: 1px 1px 0 rgb(51 51 51 / 90%)
		/*1px 1px 0 rgba(42, 166, 62, 84%);*/
}
main section#tarjetas p,
main section#tarjetas ul,
main section#tarjetas ol {
	background-color:rgb(51 51 51 / 30%);
	margin:0 auto;
	line-height:1.5em;
	padding:0.6em;
	border-radius:3px
}

/*
main article:nth-child(odd) h2 {
	text-align: right;
}
main article:nth-child(even) {
	grid-column: 3 / 5;
}*/

/*
main article p, main article ul, main article ol {
	margin-bottom: 1em;
	max-width: 100%;
}
main article ul, main article ol {
	padding-left: 3rem;
}
main article ol li, main article ul li {
	margin:0;
	padding:0
}
main article img {
	max-width:60%;
	float:left;
	margin: 0 2em 1em -30%;
	
	clip-path: polygon(0% 0%, 99% 3%, 99% 97%, 3% 96%);
}
main article:nth-child(even) img {
	float:right;
	margin:0;
	margin-left:2em;
	margin-bottom:1em;
	clip-path: polygon(0% 3%, 99% 0%, 96% 99%, 3% 99%);
}
main article:nth-child(odd) ol li, main article:nth-child(odd) ul li {
}*/

/*
			FOOTER
*/
footer {
	color: rgb(255 255 245);
	background-color: rgba(42, 166, 62, 84%);
	padding: 9rem;
	background-image: linear-gradient(to top, rgb(51 51 51 / 90%), rgb(51 51 51 / 30%));
}
footer h4 {
	font-size:3rem;
}
footer h4, footer p, footer ul, footer ol, footer li {
	color: rgb(255 255 245);
}