{% extends 'base.html' %}

{% block contenido %}
	<main>		
		<h2>Eliminar comentario</h2>
		<section id="publicaciones">
			<p>¿Está seguro que desea eliminar el comentario?</p>
			<form method="post" enctype="multipart/form-data">
				<ul class="grid">
				{% csrf_token %}
				{{ form.as_ul }}
				<li class="centrado"><button type="submit">Eliminar</button></li>
				<li class="centrado"><a href="{% url 'posts:path_listar_posts' %}">Cancelar</a></li>
				</ul>
			</form>
		</section>
	</main>
{% endblock contenido %}