{% load static %}
<!doctype html>
<html>
<head>
	<title>chacoverde</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" /> -->
	<!--<link rel="stylesheet" type="text/css" href="{% static 'css/main1.css' %}" /> -->
</head>

<body>
	<header>
		<h1>chacoverde</h1>
		<nav>
			<ul>
                <li><a href="{% url 'path_home' %}">Inicio</a></li>
                <li><a href="{% url 'posts:path_listar_posts' %}">Publicaciones</a></li>
                <li><a href="{% url 'categorias:path_listar_categorias' %}">Categorias</a></li>
                <li><a href="{% url 'path_nosotros' %}">Nosotros</a></li>
			</ul>
		</nav>
		<button>Acceder</button>
	</header>
	
		
    {% block contenido %}

    {% endblock contenido %}
	
	<footer>
		<h4>Otros contactos</h4>
		<ul>
			<li>Teléfono: 362 412-3456</li>
			<li>E-mail: chacoverde@gmail.com</li>
		</ul>
	</footer>
</body>
</html>