{% load static %}
<!doctype html>
<html>
<head>
	<title>chacoverde</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" /> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/main1.css' %}" /> -->
</head>

<body>
	<header>
		<h1>chacoverde</h1>
		<nav>
			<ul>
                <li><a href="{% url 'path_home' %}">Inicio</a></li>
                <li><a href="{% url 'posts:path_listar_posts' %}">Publicaciones</a></li>
                <li><a href="{% url 'tarjetas:path_listar_tarjetas_flora' %}">Flora</a></li>
                <li><a href="{% url 'tarjetas:path_listar_tarjetas_fauna' %}">Fauna</a></li>
                <li><a href="{% url 'path_nosotros' %}">Nosotros</a></li>
			</ul>
		</nav>
		<button>Acceder</button>
	</header>
	
	<aside>
		<h3>Publicaciones</h3>
		<ul>
			{% for c in categorias %}
				<li>
					<a href="{% url 'posts:path_filtrados_categoria_post' c.pk %}"> {{ c.sobre }} </a>
				</li>
			{% endfor %}
		</ul>
	</aside>
		
    {% block contenido %}

    {% endblock contenido %}
	
	<footer>
		<h4>Otros contactos</h4>
		<ul>
			<li>Teléfono: 362 412-3456</li>
			<li>E-mail: chacoverde@gmail.com</li>
		</ul>
	</footer>
</body>
</html>