<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChacoFayFl</title>
</head>
<nav>
<h1>logo</h1>
<ul>
    <li> <a href="{% url 'path_home' %}">Home</a></li>
    <li> <a href="{% url 'posts:path_listar_posts' %}">Posts</a></li>
    <li> <a href="{% url 'path_contacto' %}">Contacto</a></li>
    <li> <a href="{% url 'path_nosotros' %}">Nostros</a></li>
</ul>
</nav>
<body>

    {% block contenido %}

    {% endblock contenido %}
    
</body>
</html>