{% extends 'base.html' %}

{% block contenido %}
	<main>		
		<h2>Mapa del sitio</h2>
		<section id="publicaciones">
			<article>
				<h3>chacoverde</h3>
				<ul class="mapa">
					<li>
						<br />
						<h3>Categorías</h3>
							<ul class="col4">
							{% for c in categorias %}
								<li><a href="{% url 'categorias:path_filtrado_categoria_todo' c.pk %}">{{c.sobre}}</a></li>
							{% endfor %}
							</ul>
					</li>
					<li>
						<br />
						<h3>Publicaciones</h3>
							<ul class="col2">
							{% for p in posts %}
								<li><a href="{% url 'posts:path_detalle_post' p.pk %}">{{p.titulo}}</a></li>
							{% endfor %}
							</ul>
					</li>
					<li>
						<br />
						<h3>Tarjetas</h3>
							<ul class="col3">
							{% for t in tarjetas %}
								<li><a href="#">{{t.nombre}}</a></li>
							{% endfor %}
							</ul>
					</li>
					<li></li>
					<li></li>
				</ul>
			</article>
		</section>
	</main>

{% endblock contenido %}