{% extends 'base.html' %}

{% block contenido %}
	<main>		
		<h2>Nosotros</h2>
		<section id="publicaciones">
			<article>
				<h3>chacoverde</h3>
				<p>El propósito de este blog es difundir sobre las maravillas naturales de nuestra querida provincia y generar conciencia en tiempos de crisis económica y climática a nivel mundial.</p>
				<p>El Gran Chaco, uno de los bosques secos más importantes, grandes y diversos del mundo, hace tiempo que viene siendo castigado por la deforestación (legal e ilegal), producto del egoísmo de algunos empresarios y gobernantes sin escrúpulos.</p>
				<p>Si bien el motivo principal de la fundación de la ciudad de Resistencia y sus territorios aledaños hace casi ciento cincuenta años ha sido la explotación forestal, y el saqueo y la expoliación de las comunidades nativas, cabría esperar de una sociedad tan moderna como esta, en pleno S.XXI, era de la inteligencia artificial, que cambiara un poco su mentalidad y abriera los ojos a las bondades de su buena tierra.</p>
				<p>Y sin embargo aquí estamos.</p>
				<h3>Proyecto Informatorio</h3>
				<p>Este trabajo lo hemos hecho Lucio y Luciano, integrantes del Grupo 4 de la etapa 2 del Informatorio 2025. Es una aplicación web con formato de blog desarrollada en Python con el framework Django, HTML y CSS.</p>
				<p>Producto artesanal, hecho en Resistencia, Chaco.</p>
				<h3>Contacto</h3>
				<p>(insertar formulario de contacto aquí)</p>
			</article>
		</section>
	</main>
{% endblock contenido %}