{% extends 'base.html' %}

{% block contenido %}
	<main>		
		<h2>Eliminar tarjeta</h2>
		<section id="publicaciones">
			<p>¿Está seguro que desea eliminar la tarjeta?</p>
			<form method="post" enctype="multipart/form-data">{% csrf_token %}
				<ul class="grid">
				{{ form.as_ul }}
				<li class="centrado"><button type="submit">Enviar</button></li>
				<li class="centrado"><a href="{% url 'posts:path_listar_tarjetas' %}">Cancelar</a></li>
				</ul>
			</form>
		</section>
	</main>
{% endblock contenido %}