{% extends 'base.html' %}

{% block contenido %}
	<aside>
		<h3>Categorias</h3>
		<ul>
			<li>
				<a href="{% url 'tarjetas:path_listar_tarjetas'%}">Todos</a>
			</li>
			{% for c in categorias %}
				<li>
					<a href="{% url 'tarjetas:path_filtrados_categoria' c.pk %}"> {{ c.sobre }} </a>
				</li>
			{% endfor %}
		</ul>
	</aside>	

	<main>
	{% if user.is_staff %}
		<section class="panel_usuario">
			<p>{{user.username}}, tus herramientas: 
				<a href="{% url 'posts:path_crear_post' %}"> Crear Publicación</a>
				<a href=" {% url 'tarjetas:path_crear_tarjeta' %}">Crear tarjeta</a>
			</p>
		</section>
	{% endif %}
		<h2>Tarjetas</h2>
		<section id="tarjetas">
		{% for t in tarjetas %}
			<article>
				<a href="{% url 'tarjetas:path_detalle_tarjeta' t.pk %}">
					<h3>{{t.nombre}}</h3>
					<img src="{{ t.imagen.url }}">
				</a>
				<p>Categorías: 
				{% for c in t.categoria_sobre.all %}
					<a href="{% url 'categorias:path_filtrado_categoria_todo' c.pk %}">{{c.sobre}}</a>
				{% endfor %}
				</p>
				<p>{{t.descripcion}}</p>
				{% if user.is_staff%}
					<p>
						<a href="{% url 'tarjetas:path_actualizar_tarjeta' t.pk %}">Actualizar</a> | 
						<a href="{% url 'tarjetas:path_eliminar_tarjeta' t.pk %}">Eliminar</a>
					</p>
				{% endif %}
			</article>
		{% endfor %}
		</section>
	</main>
{% endblock contenido %}